$background: #333;
$nav-color: #0080ff23;
$primary-color: #4169e15b;
$primary-color-hover:#4169E1;
$secondary-color: rgba(128, 0, 128, 0.3); 
$title-color:#dcd0ff;
$paragraph-color:white;
$container-width: 80%;


@mixin flexer($parameter) {
   

}

    
